* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
}

.header__title {
  background-color: black;
  color: white;
  padding: 10px;
}

.main-content {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 5px solid gray;
  width: 500px;
  margin: 0 auto;
}

.gallery {
  padding: 10px;
}

.gallery__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.gallery__box {
  flex-grow: 1;
  flex-basis: 20%;
}

.gallery__box img {
  width: 100%;
  height: 500px;
}
